body { 
    color:chocolate;
    background: aqua;
    font-family: "Matemasie", sans-serif;
}
      
.chamada-texto {
    margin-right: 5%;
}


h1{
   font-size: 40px;
}

p{
    font-size: 20px;
}
     
img { 
height: 200px;
 }